[Unit]
Description=Aria2
After=syslog.target
After=network.target

[Service]
ExecStart=/usr/bin/aria2c --conf-path=/usr/local/aria2/aria2.conf
Type=simple
Restart=always
User=nginx
Group=nginx

[Install]
WantedBy=multi-user.target
